body{
    background-color: rgb(28, 1, 53);
    margin: 0;
}

.titel{
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    box-sizing: border-box; 
}

.lab{
    color: aliceblue;
}

 .inp{
    margin-right: 50px;
} 

.row{
    display: flex;
    align-items: center;
    gap: 25px;
}