body{
    background-color: rgb(28, 1, 53);
}

.titel{
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    box-sizing: border-box; 
}

.lab{
    color: aliceblue;
}

  .inp{
    margin-right: 50px;
}  

.row{
    display: flex;
    align-items: center;
    gap: 25px;
}

#button {
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;

}